# Virtual environment
.venv/
venv

# Python
__pycache__/
*.pyc

# Planner outputs
*.plan
*.soln

# Local generated planning instances (legacy folder)
part1/generated_problems/

# Containers
*.sif

# VSCode
.vscode/

# OS
.DS_Store

downward.sif
sas_plan*
*.Zone.Identifier
part2/problems/drone_problem_d1_r1_l*